@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --main-color-darkest: rgb(24, 24, 33);
  --main-color-darker: rgb(43, 43, 58);
  --main-color: rgb(66, 66, 82);
  --main-color-lighter: rgb(87, 87, 93);
  --secondary-color: green;
  --secondary-color-lighter: rgb(2, 178, 2);
  --modal-screen-overlay-color: rgb(73, 73, 73, 0.8);

  --extra-small-spacing: 0.25rem;
  --small-spacing: 0.5rem;
  --medium-spacing: 0.75rem;
  --large-spacing: 1rem;
  --larger-spacing: 1.25rem;
  --largest-spacing: 2rem;

  --slightly-round: 10px;
  --round: 20px;
  --very-round: 50px;

  --dashboard-box-shadow: 0.1rem 0.1rem var(--secondary-color-lighter),
    -0.1rem -0.1rem var(--secondary-color-lighter),
    -0.1rem 0.1rem var(--secondary-color-lighter),
    0.1rem -0.1rem var(--secondary-color-lighter);

  --thin-border: 0.25rem;
  --thick-border: 0.5rem;

  --tiny-font: 0.5rem;
  --small-font: 1rem;
  --medium-font: 1.5rem;
  --big-font: 2rem;
  --bigger-font: 3.5rem;

  --white-text-shadow: -2px -2px 0 black, 2px -2px 0 black, -2px 2px 0 black,
    2px 2px 0 black;

  --main-font-family: Nunito;

  --short-transition: 0.1s;
  --medium-transition: 0.5s;
  --long-transition: 1s;
}

* {
  font-family: var(--main-font-family);
  padding: 0;
  margin: 0;
}

.horizontal_alligner {
  display: flex;
  flex-direction: row;
}

.medium_title {
  font-size: var(--medium-font);
  font-weight: bold;
  text-align: center;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar_container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: var(--main-color-darkest);
  box-shadow: var(--dashboard-box-shadow);

  height: 25%;
  width: fit-content;
  border-radius: var(--round);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 0.1rem;
  text-align: center;
  text-wrap: nowrap;
}
.navbar_buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.navbar_button {
  font-size: var(--big-font);
  width: 3rem;
  height: 3rem;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_button:hover {
  background-color: var(--secondary-color-lighter);
  border-radius: var(--round);
}

.navbar_app_title {
  width: fit-content;
  height: fit-content;
  margin-bottom: 1rem; /* Space between title and buttons */
  margin-left: 1rem;
  font-weight: bold;
  font-size: var(--big-font);
}

.dashboard_page_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-darkest);
  gap: var(--medium-spacing);
  color: white;
}

.dashboard_title {
  width: 100%;
  justify-self: flex-start;
  flex-grow: 0.05;
  background-color: var(--main-color-darkest);
  box-shadow: var(--dashboard-box-shadow);
  color: white;
  font-size: var(--big-font);
  font-weight: bold;
  text-align: start;
  padding: var(--small-spacing);
}

.dashboard_page_contents {
  display: grid;
  width: 98%;
  height: 90%;
  max-width: 98%;
  max-height: 90%;
  grid-template-columns: repeat(40, 1fr);
  grid-template-rows: repeat(20, 1fr);
  flex-grow: 1;
  border-radius: var(--slightly-round);
  /*background-color: var(--main-color-darker);*/

  padding: 1rem;
}

.classrooms_stats_container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  grid-area: 2 / 2 / 19 / 27;
  background-color: var(--main-color-darkest);
  box-shadow: var(--dashboard-box-shadow);
  border-radius: var(--slightly-round);
}

.classrooms_stats_refresh_button {
  width: fit-content;
  height: fit-content;
  font-size: var(--small2-font);
  font-weight: bold;
  cursor: pointer;
  margin-right: 1rem;
}
.classrooms_stats_refresh_button:hover {
  border-bottom: 0.2rem solid var(--secondary-color-lighter);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}
.classroom_stats_title {
  align-self: center;
}

.recent_books_container {
  background-color: var(--main-color-darkest);
  box-shadow: var(--dashboard-box-shadow);
  border-radius: var(--slightly-round);
  grid-area: 2 / 28 / 16 / 40;
}

.actions_container {
  background-color: var(--main-color-darkest);
  box-shadow: var(--dashboard-box-shadow);
  border-radius: var(--slightly-round);
  grid-area: 17 / 29 / 19 / 39;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.action_scan_book {
  width: 100%;
  height: 100%;
  font-size: var(--bigger-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action_add_classroom {
  width: 100%;
  height: 100%;
  font-size: var(--bigger-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action:hover {
  background-color: var(--secondary-color-lighter);
  border-radius: var(--slightly-round);
  cursor: pointer;
}

.classroom_list_container {
  border-radius: var(--round);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: var(--larger-spacing);
  gap: var(--large-spacing);
  overflow-y: auto;
}

.classroom_list_item {
  border-radius: var(--slightly-round);
  box-shadow: var(--dashboard-box-shadow);
  background-color: var(--main-color-darker);
  max-height: 200px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.classroom_list_item_divider {
  border-radius: var(--very-round);
  height: 80%;
  width: var(--large-spacing);
  margin-left: var(--medium-spacing);
}

.classroom_list_item_content {
  margin-left: var(--small-spacing);
}

.classroom_list_overdue_indicator_container {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-self: flex-end;
  align-items: center;
  margin: var(--large-spacing);
  margin-left: auto;
}

.classroom_list_overdue_dropdown {
  height: var(--large-spacing);
  width: var(--large-spacing);

  border-radius: var(--very-round);

  margin-right: var(--extra-small-spacing);
}

.classroom_list_overdue_dropdown:hover {
  background-color: var(--secondary-color-lighter);
}

.classroom_list_overdue_indicator_light {
  height: var(--large-spacing);
  width: var(--large-spacing);
  border-radius: var(--very-round);
  margin-left: var(--large-spacing);
}

.modal_actions {
  position: absolute;
  display: flex;
  flex-direction: row;
  top: var(--medium-spacing);
  right: var(--medium-spacing);
  gap: var(--medium-spacing);
}

.modal_cancel_button {
  width: 30px;
  height: 30px;
  border-radius: var(--very-round);
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal_accept_button {
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: var(--very-round);
  background-color: var(--secondary-color);
  justify-content: center;
  align-items: center;
}

/*Add Classroom Modal*/
.add_classroom_modal_screen_overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-screen-overlay-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add_classroom_modal_container {
  width: 70vw;
  height: 90vh;
  background-color: var(--main-color-darkest);
  box-shadow: var(--dashboard-box-shadow);
  border-radius: var(--round);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--largest-spacing);
  gap: var(--largest-spacing);
}

.add_classroom_modal_label {
  color: white;
  font-size: var(--medium-font);
  margin-right: var(--large-spacing);
}

.add_classroom_modal_text_input {
  width: 30%;
  height: 100%;
  border-radius: var(--round);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: var(--large-spacing);
  background-color: var(--main-color-lighter);
  color: white;
}

.add_classroom_modal_input {
  background-color: var(--main-color-darker);
  border-radius: var(--round);
  padding: var(--large-spacing);
}

.add_classroom_modal_name_input {
  flex: 0.1 1 auto;
  display: flex;
  flex-direction: row;
}

.add_classroom_modal_color_input {
  flex: 1 1 20%;
  display: flex;
  flex-direction: column;
}

.add_classroom_modal_books_input {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  gap: var(--large-spacing);
}

.add_classroom_modal_books_container {
  width: 100%;
  height: 100%;
  max-height: 200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: var(--main-color-lighter);
  border-radius: var(--round);
  padding: var(--small-spacing);
  overflow-y: scroll;
}

.classroom_book_container {
  border-radius: var(--slightly-round);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  flex: 1 1 20%;
  min-width: 150px;
  max-width: 150px;
  height: 200px;
  text-align: center;
  text-shadow: var(--white-text-shadow);
  color: white;
  background-color: var(--main-color-darker);
  cursor: pointer;
  transition: background-color var(--short-transition) ease-in-out;
}

.classroom_book_container:hover {
  background-color: var(--main-color);
}

.classroom_book_selected_tag {
  border-radius: var(--very-round);
  align-self: flex-start;
  margin: var(--small-spacing);
  width: var(--small-spacing);
  height: var(--small-spacing);
  min-width: var(--small-spacing);
  min-height: var(--small-spacing);
  background-color: red;
}

.selected {
  background-color: var(--secondary-color-lighter);
}

.add_classroom_modal_students_input {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  gap: var(--large-spacing);
}

.add_classroom_modal_students_name_container {
  border-radius: var(--round);
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  background-color: var(--main-color-lighter);
  padding: var(--small-spacing);
  gap: var(--small-spacing);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
}

.student_name_tag_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: var(--small-spacing);
  border-radius: var(--round);
  background-color: var(--main-color-darker);
  width: fit-content;
  min-width: 100px;
  height: fit-content;
  color: white;
  text-shadow: var(--white-text-shadow);
  transition: background-color var(--short-transition) ease-in-out;
}

.student_name_tag_container:hover {
  background-color: var(--main-color);
}

/*Scan Modal*/

.scan_modal_screen_overlay {
  width: 100vw;
  height: 100vh;
  background-color: var(--modal-screen-overlay-color);
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scan_modal_container {
  width: 70vw;
  height: 90vh;
  background-color: var(--main-color-darkest);
  box-shadow: var(--dashboard-box-shadow);
  border-radius: var(--round);
  position: relative;
  display: flex;
  flex-direction: column;
  padding: var(--largest-spacing);
  gap: var(--largest-spacing);
}

.scan_modal_status {
  background-color: var(--main-color-darker);
  padding: var(--small-spacing);
  border-radius: var(--round);
  align-self: center;
  font-size: var(--medium-font);
}

.scan_modal_available_tags_container {
  background-color: var(--main-color-darker);
  padding: var(--small-spacing);
  border-radius: var(--round);
  align-self: center;
  font-size: var(--small-font);
}

.scan_modal_book_search_container {
  width: 100%;
  height: 100%;
  max-height: 600px;
  background-color: var(--main-color-darker);
  padding: var(--small-spacing);
  border-radius: var(--round);
  align-self: center;
  font-size: var(--small-font);
  display: flex;
  flex-direction: column;
}

.scan_modal_book_search_type {
  width: 30%;
  margin-left: var(--small-spacing);
  background-color: var(--main-color-lighter);
  margin-bottom: var(--small-spacing);
  border-radius: var(--slightly-round);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.type_title {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: var(--slightly-round);
  border-bottom-left-radius: var(--slightly-round);
}

.type_author {
  width: 50%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-right-radius: var(--slightly-round);
  border-bottom-right-radius: var(--slightly-round);
}

.type_title:hover {
  background-color: var(--secondary-color-lighter);
  cursor: pointer;
}

.type_author:hover {
  background-color: var(--secondary-color-lighter);
  cursor: pointer;
}

.type_selected {
  background-color: var(--secondary-color);
}

.scan_modal_book_search {
  width: 30%;
  height: 100%;
  border-radius: var(--round);
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding-left: var(--large-spacing);
  background-color: var(--main-color-lighter);
  color: white;
  margin-left: var(--small-spacing);
}

.scan_modal_searched_books_container {
  margin-top: var(--small-spacing);
  background-color: var(--main-color-lighter);
  border-radius: var(--slightly-round);
  height: 100%;
  padding: var(--small-spacing);
}

.scan_modal_selected_books_container {
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin-left: auto;
  margin-right: 20rem;
  min-height: 350px;
  background-color: var(--main-color-darker);
  padding: var(--small-spacing);
  border-radius: var(--round);
  align-self: center;
  font-size: var(--small-font);
  display: flex;
  flex-direction: column;
}
