@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.BoldText {
  font-weight: bold;
}

.Lookup-Tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1.5px solid black;
  border-radius: 10px;
  width: fit-content;
  max-width: 30%;
  height: fit-content;
  margin-left: auto;
  margin-right: 10%;
  margin-top: 5%;
  padding: 20px;
}

.AddButton {
  border: 1.5px solid black;
  border-radius: 50%;
  height: 4vh;
  width: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10%;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.BookshelvesPageContainer {
}

.ScanModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.BookTileInformation {
  display: flex;
  flex-direction: column;
  gap: 3px;
  overflow: hidden;
  text-align: center;
  word-wrap: break-word;
}

.ScanModelContainer {
  height: 95vh;
  width: 50vw;
  border: 2px solid black;
  border-radius: 10px;
  background-color: white;
}

.HorizontalBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.BookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 10px;
  gap: 5px;
  width: 100%;
  height: 100%;
  background-color: rgb(213, 213, 213);
}

.BookTile {
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  border-radius: 10px;
  padding: 5px;
  margin: 2px 0;
  height: 30vh;
  width: calc(12.5% - 20px);
  max-width: 180px;
  min-width: 180px;
  text-align: center;
  word-wrap: break-word;
  font-size: 1.25vw;
  flex: 1 1 12.5%;
  align-items: center;
  justify-content: center;
}

.BookTileImage {
  height: 65%;
  width: auto;
}

.UploadBookButton {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  background-color: white;
  font-family: "Nunito";
}

.BookOptionsModalContainer {
  height: fit-content;
  width: fit-content;
  position: absolute;
  border: 2px solid green;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.SelectModeQuitButton {
  height: 2vw;
  width: 3vw;
  background-color: rgb(92, 92, 92);
  border: 2px solid black;
  border-radius: 50%;
}
.SelectModeQuitButton:hover {
  background-color: gray;
}

.ScannedBooksContainer {
  height: 90%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  overflow-y: hidden;
}

.BookTileContainer {
  height: 18%;
  width: 40%;
  font-size: 1rem;
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 5px;
  border: 2px solid black;
  border-radius: 10px;
}

.BookAdditionsModalContainer {
  height: fit-content;
  width: fit-content;
  position: absolute;
  border: 2px solid green;
  border-radius: 10px;
  padding: 5px;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 5px;
  gap: 5px;
}

.BookOptionsButton {
  border: 1px solid black;
  border-radius: 10px;
}
.DeleteButton {
  width: fit-content;
  height: fit-content;
  border: 2px solid red;
  background-color: rgb(164, 6, 6);
}
.DeleteButton:hover {
  border: 2px solid rgb(164, 6, 6);
  background-color: red;
}

.ModalClose {
  height: fit-content;
  width: 20%;
  border: 1px solid black;
  border-radius: 10px;
}
.ModalClose:hover {
  background-color: rgb(235, 235, 235);
}

.BookOptions {
  display: flex;
  flex-direction: column;
}

.ProfilePage {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: center;
}

.NavBar {
  display: flex;
  width: 100%;
  height: fit-content;
  border-bottom: 2px solid black;
  padding: 5px;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.NavBarPageButtonsContainer {
  width: 80vw;
  border-bottom: 2px solid black;
  height: fit-content;
  margin: auto;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.NavBarPageButton {
  width: 20%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

.Logout {
  border: 1px solid black;
  padding: 5px;
  border-radius: 5px;
  margin-left: auto;
  background-color: white;
  font-family: "Nunito";
}

.Logout:hover {
  background-color: rgb(235, 235, 235);
}
