@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

:root {
  --main-color-darker: rgb(43, 43, 58);
  --main-color: rgb(66, 66, 82);
  --main-color-lighter: rgb(87, 87, 93);
  --secondary-color: green;
  --secondary-color-lighter: rgb(2, 178, 2);

  --extra-small-spacing: 0.25rem;
  --small-spacing: 0.5rem;
  --medium-spacing: 0.75rem;
  --large-spacing: 1rem;
  --larger-spacing: 1.25rem;
  --largest-spacing: 2rem;

  --slightly-round: 10px;
  --round: 20px;
  --very-round: 50px;

  --thin-border: 0.25rem;
  --thick-border: 0.5rem;

  --small-font: 0.5rem;
  --medium-font: 1.5rem;
  --big-font: 2rem;
  --bigger-font: 3.5rem;
}

.dashboard_title {
  grid-row: 1 / 2;
  grid-column: 11 / 15;
  text-wrap: nowrap;
}

.large_title {
  font-size: var(--big-font);
  font-weight: bold;
  font-family: Nunito;
  text-align: center;
}

.medium_title {
  font-size: var(--medium-font);
  font-weight: bold;
  font-family: Nunito;
  text-align: center;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.dashboard_page_container {
  width: 100vw;
  height: 100vh;
  background-color: var(--main-color);
  display: grid;
  grid-template-rows: repeat(20, 1fr);
  grid-template-columns: repeat(25, 1fr);
}

.navbar_container {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  background-color: var(--main-color-darker);

  height: 25%;
  width: fit-content;
  border-radius: var(--round);
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding-right: 0.1rem;
  text-align: center;
  text-wrap: nowrap;
}
.navbar_buttons {
  display: flex;
  flex-direction: column; /* Stack buttons vertically */
}

.navbar_button {
  font-size: var(--big-font);
  width: 3rem;
  height: 3rem;
  position: relative;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar_button:hover {
  background-color: var(--secondary-color-lighter);
  border-radius: var(--round);
}

.navbar_app_title {
  width: fit-content;
  height: fit-content;
  margin-bottom: 1rem; /* Space between title and buttons */
  margin-left: 1rem;
  font-family: Nunito;
  font-weight: bold;
  font-size: var(--big-font);
}

.recent_books_container {
  background-color: var(--secondary-color);
  box-shadow: 0rem -0.25rem 0 0.3rem var(--main-color-darker);
  grid-column: 3 / 11;
  grid-row: 3 / 19;
  border-radius: var(--round);
}

.classrooms_stats_container {
  background-color: var(--secondary-color);
  box-shadow: 0rem -0.25rem 0 0.3rem var(--main-color-darker);
  grid-column: 12 / 25;
  grid-row: 3 / 15;
  border-radius: var(--round);
}

.actions_container {
  background-color: var(--secondary-color);
  box-shadow: 0rem -0.25rem 0 0.3rem var(--main-color-darker);
  grid-column: 13 / 23;
  grid-row: 16 / 18;
  border-radius: var(--round);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.action_scan_book {
  width: 100%;
  height: 100%;
  font-size: var(--bigger-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action_add_classroom {
  width: 100%;
  height: 100%;
  font-size: var(--bigger-font);
  display: flex;
  align-items: center;
  justify-content: center;
}

.action:hover {
  background-color: var(--secondary-color-lighter);
  border-radius: var(--round);
  cursor: pointer;
}
